@{
    ViewBag.Title = "首页";
}

<style>
    a {
        text-decoration: none;
    }

    .floor.f1 {
        background: orange;
    }

    .f1-swiper {
        width: 100%;
        height: 100%;
    }

        .f1-swiper .swiper-slide img {
            display: block;
            width: 100%;
            margin: auto;
        }

    .cookbook-item {
        margin: 10px 5px;
        text-align: center;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="floor f1">
            <div class="swiper-container f1-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img class="img-responsive center-block" src="~/Images/Index/slide-1.jpg" alt="Alternate Text" />
                    </div>
                    <div class="swiper-slide">
                        <img class="img-responsive center-block" src="~/Images/Index/slide-2.jpg" alt="Alternate Text" />
                    </div>
                    <div class="swiper-slide">
                        <img class="img-responsive center-block" src="~/Images/Index/slide-3.jpg" alt="Alternate Text" />
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="page-header">
            <h1>最新菜谱</h1>
        </div>
    </div>
    @{
        if (ViewBag.CookBooks != null)
        {
            foreach (var item in ViewBag.CookBooks)
            {
                <div class="col-sm-6 col-md-3">
                    <a href="/CookBook/Detail?id=@item.ID" class="thumbnail cookbook-item">
                        <img src=@item.Image alt="Article" />
                        <h3>@item.Title</h3>
                        <p>@item.SubTitle</p>
                    </a>
                </div>
            }
        }
    }
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="page-header">
            <h1>最新文章</h1>
        </div>
    </div>
    @{
        if (ViewBag.Articles != null)
        {
            foreach (var item in ViewBag.Articles)
            {
                <div class="col-sm-6 col-md-3">
                    <a href="/CookBook/Detail?id=@item.ID" class="thumbnail cookbook-item">
                        <img src=@item.Image alt="Article" />
                        <h3>@item.Title</h3>
                        <p>@item.SubTitle</p>
                    </a>
                </div>
            }
        }
    }
</div>


@section Scripts{
    <script>

        var mySwiper = new Swiper('.swiper-container', {
            autoplay: true,
            loop: true,
            effect: 'fade',
            pagination: {
                el: '.swiper-pagination',
            },
            scrollbar: {
                el: '.swiper-scrollbar'
            }
        });

    </script>
}