@model IEnumerable<CookBookWebsite.Models.CookBook>

<style>
    .collection-row{
        margin: 0;
    }
    .collect-item-img{
        width: 100px;
        height: 100px;
    }
</style>

<div class="row collection-row">
    <h4>我的收藏</h4>

    <hr />
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-3">
            <a href="#" class="thumbnail">
                <img class="collect-item-img" src=@item.Image
                     alt="img">
                <div class="caption">
                    <h3>@item.Title</h3>
                    <p><span>点赞量：</span>@item.LikeNum</p>
                </div>
            </a>
        </div>
    }
</div>

